# -*- sh -*-

case $OSTYPE in
	FreeBSD|Darwin)
		alias ls='ls -GhpT';;
	Linux)
		alias ls='ls -hp --color --time-style=+"%d %b %H:%M:%S %Y"';;
	*)
		alias ls='ls -Fh';;
esac
alias ll='ls -l'
alias la='ls -A'
alias lal='ls -lA'
alias lsd='ls -d'

alias curl='curl -sS'
alias dc="dc -e '2k' -f /dev/stdin"
alias grep=egrep
alias puppet-lint='puppet-lint --with-filename'
alias sudo="sudo "
alias tf="tail -F"

alias ag='ag --pager less -aS -m 2147483647' # 2^31-1, seems to be maximum.
alias ack=ag

if [ -e "$(which colordiff)" ]; then
	alias diff='colordiff -u'
	alias colordiff='colordiff -u'
else
	alias diff='diff -u'
fi

if [ -e "$(which service)" ]; then
	alias service='sudo service'
else
	alias service='sudo invoke-rc.d'
fi
