# vim:ft=zsh

has_command() {
	whence "$@" > /dev/null 2>&1
}

alias be='bundle exec'
alias curl='curl -gkLsS'
alias dc="dc -e '2k' -f /dev/stdin"
alias grep=egrep
alias puppet-lint='puppet-lint --with-filename'
alias tf="tail -F"

alias ag='ag --pager less --hidden --ignore .git --ignore .hg -i'
alias fetch='command curl -gkLO'


if has_command colordiff; then
	alias diff='colordiff -u'
	alias colordiff='colordiff -u'
else
	alias diff='diff -u'
fi

alias vi=vim
if has_command vimr; then
	alias vim="vimr -n"
elif has_command nvim; then
	alias vim=nvim
fi

alias g="git"
git config -l | grep '^alias' | cut -d = -f 1 | cut -d . -f 2 | while read; do alias g$REPLY="git $REPLY"; done
for i in add clone merge rm; do alias g$i="git $i"; done
alias gaddp="git ap"

alias ls='ls -GhHpT'
alias ll='ls -l'
alias la='ls -A'
alias lal='ls -lA'
alias lsd='ls -d'

ducks() {
	du -csh "$@" | gsort -rh
}
