root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[{*.applescript,*.scpt}]
indent_size = 2
indent_style = space

[*.js]
indent_size = 2
indent_style = space

[*.py]
indent_size = 4
indent_style = space

[{*.rb,Gemfile,*.yml}]
indent_size = 2
indent_style = space

[*.rs]
indent_size = 4
indent_style = space

[*.scala]
indent_size = 2
indent_style = space

[{*.vim,.vimrc}]
indent_size = 2
indent_style = space
