/[^\.]*
/.Trash
/.cache
/.ssh/agent-*
/.ssh/authorized_keys
/.viminfo
/.vim/bundle
/.*_history
/.gnupg
*.svbin
.cabal
.dropbox*
.fontconfig
.gem
.ghc
.pythonhist
.rbenv
.rnd
.vagrant.d
.spamassassin/bayes_*
.emacs.d/*/
!.emacs.d/elisp
