/[^.]*
!/bin
*.svbin
/.*_history
/.atom/*/
/.berkshelf
/.cabal
/.cache
/.cargo
/.chef*
/.data
/.dropbox*
/.fontconfig
/.gem
/.ghc
/.gnupg/*
!/.gnupg/gpg.conf
/.heroku
/.offlineimap
/.packer.d
/.pythonhist
/.rbenv
/.rnd
/.ssh/*
!/.ssh/config
/.Trash
/.vagrant.d
/.vim/.netrwhist
/.vim/bundle
/.viminfo
/.zcompdump
