[submodule "private"]
	path = private
	url = git@github.com:benjamineskola/private
[submodule "bat/themes/gruvbox-sublime"]
	path = bat/themes/gruvbox-sublime
	url = https://github.com/ethe/gruvbox-sublime
[submodule "tmux-simple-git-status"]
	path = tmux-simple-git-status
	url = https://github.com/kristijanhusak/tmux-simple-git-status.git
