[submodule ".private"]
	path = .private
	url = git@github.com:benjamineskola/private
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
