# vim:ft=gitconfig
[alias]
	addp = add -p
	amend = commit --amend -CHEAD
	ci = commit
	co = checkout
	d = diff -M
	dc = diff --cached -M
	edit-message = commit --amend -m
	l = log -M --graph --decorate --abbrev-commit
	la = log -M --graph --all --decorate --abbrev-commit
	pp = !git up && git push
	st = status -sb
	undo = checkout -p
[branch]
	autosetuprebase = always
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore.global
[diff]
	renames = copy
[push]
	default = simple
[user]
	name = Benjamin M. A'Lee
	email = me@benjaminalee.uk
