# vim:ft=gitconfig
[alias]
	st = status -sb
	co = checkout
	ci = commit
	l = log -M --graph --decorate --abbrev-commit
	la = log -M --graph --all --decorate --abbrev-commit
	pp = "!sh -c 'if [ $0 = sh ];then i="";else i=$0;fi; git pull $i $@ && git push $i $@'"
	di = diff -M
	dw = diff --color-words -M
	dc = diff --cached -M
	dwc= diff --cached --color-words -M
	unstage = reset HEAD --
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = tracking
[diff]
	renames = copy
[diff "lisp"]
	wordRegex = \\(|\\)|[^[:space:]()]+
[core]
	excludesfile = /Users/bma/.gitignore.global
