# vim:ft=gitconfig
[branch]
	autosetuprebase = always
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vimr --wait -s
	excludesfile = ~/.gitignore.global
[diff]
	renames = copy
[hub]
	protocol = https
[merge]
	tool = diffmerge
[mergetool]
	prompt = false
[push]
	default = current
[user]
	name = Benjamin Eskola
	email = ben@eskola.me.uk
[alias]
	up = pull --rebase --autostash
