[submodule "private"]
	path = private
	url = git@github.com:benjamineskola/private
[submodule "bat/themes/textmate-solarized"]
	path = bat/themes/textmate-solarized
	url = https://github.com/deplorableword/textmate-solarized.git
