black
bpython
flake8
flake8-bugbear
flake8-docstrings>=1.3.1
isort
jedi
mypy
pep8-naming
poetry
pynvim
solargraph-utils.py
vim-vint
wheel

git+https://gitlab.com/benjamineskola/datecalc.git#egg=datecalc
git+https://gitlab.com/benjamineskola/passwordage.git#egg=passwordage
git+https://gitlab.com/benjamineskola/yaml2plist.git#egg=yaml2plist
