<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.setenv</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>launchctl setenv XDG_CONFIG_HOME /Users/ben/.config
launchctl setenv XDG_DATA_HOME   /Users/ben/Library
launchctl setenv XDG_CACHE_HOME  /Users/ben/Library/Caches
launchctl setenv XDG_STATE_HOME  /Users/ben/Library
</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/ben/Library/Logs/uk.eskola.setenv.err</string>
    <key>StandardOutPath</key>
    <string>/Users/ben/Library/Logs/uk.eskola.setenv.out</string>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
