"*":
  "exception-reporting":
    userId: "d73cea11-7484-691d-3884-7da39d96dd04"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 8
  "theme-toggler":
    darkSyntaxTheme: "solarized-dark-syntax"
    darkUiTheme: "one-dark-ui"
    lightSyntaxTheme: "solarized-light-syntax"
    lightUiTheme: "one-light-ui"
