"*":
  "auto-run":
    commands: [
      "env-from-shell:copy"
    ]
  core:
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 8
  "env-from-shell":
    autoRun: true
    variables: [
      "PATH"
      "RUBY_ROOT"
      "RUBYOPT"
      "RUBY_ENGINE"
      "RUBY_VERSION"
      "GEM_ROOT"
      "GEM_PATH"
    ]
  "exception-reporting":
    userId: "d73cea11-7484-691d-3884-7da39d96dd04"
  "spell-check":
    grammars: [
      "source.gfm"
      "text"
      "text.tex.latex"
    ]
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "terminal-plus":
    style:
      fontFamily: "Source Code Pro"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    tabLength: 2
    tabType: "soft"
".gfm.source":
  editor:
    preferredLineLength: 120
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
".html.text":
  editor:
    tabLength: 2
    tabType: "soft"
".js.source":
  editor:
    tabLength: 2
    tabType: "soft"
".python.source":
  editor:
    tabLength: 4
    tabType: "soft"
".ruby.source":
  editor:
    tabLength: 2
    tabType: "soft"
".rust.source":
  editor:
    tabLength: 4
    tabType: "soft"
".text":
  editor:
    preferredLineLength: 120
    softWrap: true
    softWrapAtPreferredLineLength: true
