<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>$JOB_NAME</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>-c</string>
      <string>$JOB_PATH 1> >(ts >&amp;1) 2> >(ts >&amp;2)</string>
    </array>
    <key>StandardErrorPath</key>
    <string>$HOME/Library/Logs/$JOB_NAME.err</string>
    <key>StandardOutPath</key>
    <string>$HOME/Library/Logs/$JOB_NAME.out</string>
    <key>StartCalendarInterval</key>
    <dict>$JOB_SCHEDULE</dict>
  </dict>
</plist>
