<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.logind</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fdautil</string>
      <string>exec</string>
      <string>/opt/homebrew/bin/fish</string>
      <string>-c</string>
      <string>$XDG_CONFIG_HOME/scripts/run-dir.sh $XDG_CONFIG_HOME/login.d</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>$HOME/Library/Logs/uk.eskola.logind.err</string>
    <key>StandardOutPath</key>
    <string>$HOME/Library/Logs/uk.eskola.logind.out</string>
  </dict>
</plist>
