<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.prettier-config-json</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>fd -g '*.json' ~/.config | entr -n fd -g '*.json' ~/.config -X prettier -lw | ts</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>$HOME/Library/Logs/uk.eskola.prettier-config-json.err</string>
    <key>StandardOutPath</key>
    <string>$HOME/Library/Logs/uk.eskola.prettier-config-json.out</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>$PATH</string>
      <key>XDG_CONFIG_HOME</key>
      <string>$XDG_CONFIG_HOME</string>
      <key>XDG_DATA_HOME</key>
      <string>$XDG_DATA_HOME</string>
      <key>XDG_CACHE_HOME</key>
      <string>$XDG_CACHE_HOME</string>
    </dict>
  </dict>
</plist>
