<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.logind</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fdautil</string>
      <string>exec</string>
      <string>/opt/homebrew/bin/fish</string>
      <string>-c</string>
      <string>for i in $HOME/.config/login.d/*; $i; end</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
