<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.cronhourly</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fdautil</string>
      <string>exec</string>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>{{ ansible_env.XDG_CONFIG_HOME }}/scripts/run-dir.sh {{ ansible_env.XDG_CONFIG_HOME }}/cron.d/hourly {{ ansible_env.XDG_CONFIG_HOME }}/private/cron.d/hourly</string>
    </array>
    <key>StandardErrorPath</key>
    <string>{{ ansible_env.HOME }}/Library/Logs/uk.eskola.cronhourly.err</string>
    <key>StandardOutPath</key>
    <string>{{ ansible_env.HOME }}/Library/Logs/uk.eskola.cronhourly.out</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
      {% for key in env %}
      <key>{{ key }}</key>
      <string>{{ ansible_env[key] }}</string>
      {% endfor %}
    </dict>
  </dict>
</plist>
