<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.crondaily</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fdautil</string>
      <string>exec</string>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>for i in $HOME/.config/cron.d/daily/*; do $i; done</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>7</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
