<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.ansible</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>/opt/homebrew/bin/ansible-galaxy install -r "{{ ansible_env.XDG_CONFIG_HOME }}/ansible/requirements.yaml"; /opt/homebrew/bin/ansible-playbook -i "{{ ansible_env.XDG_CONFIG_HOME }}/ansible/hosts" "{{ ansible_env.XDG_CONFIG_HOME }}/ansible/main.yaml" | /opt/homebrew/bin/ts</string>
    </array>
    <key>StandardErrorPath</key>
    <string>{{ ansible_env.HOME }}/Library/Logs/uk.eskola.ansible.err</string>
    <key>StandardOutPath</key>
    <string>{{ ansible_env.HOME }}/Library/Logs/uk.eskola.ansible.out</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
      {% for key in env %}
      <key>{{ key }}</key>
      <string>{{ ansible_env[key] }}</string>
      {% endfor %}
    </dict>
  </dict>
</plist>
