<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.cronhourly</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fdautil</string>
      <string>exec</string>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>{{ config_dir }}/scripts/run-dir.sh {{ config_dir }}/cron.d/hourly {{ config_dir }}/private/cron.d/hourly</string>
    </array>
    <key>StandardErrorPath</key>
    <string>{{ home }}/Library/Logs/uk.eskola.cronhourly.err</string>
    <key>StandardOutPath</key>
    <string>{{ home }}/Library/Logs/uk.eskola.cronhourly.out</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>{{ lookup("env", "PATH") }}</string>
      <key>XDG_CONFIG_HOME</key>
      <string>{{ config_dir }}</string>
      <key>XDG_DATA_HOME</key>
      <string>{{ data_dir }}</string>
      <key>XDG_CACHE_HOME</key>
      <string>{{ cache_dir }}</string>
    </dict>
  </dict>
</plist>
