<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.eskola.ansible</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>/opt/homebrew/bin/ansible-galaxy install -r "{{ config_dir }}/ansible/requirements.yaml"; /opt/homebrew/bin/ansible-playbook -i "{{ config_dir }}/ansible/hosts" "{{ config_dir }}/ansible/main.yaml"</string>
    </array>
    <key>StandardErrorPath</key>
    <string>{{ home }}/Library/Logs/uk.eskola.ansible.err</string>
    <key>StandardOutPath</key>
    <string>{{ home }}/Library/Logs/uk.eskola.ansible.out</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
      {% for key, value in env.items() %}
      <key>{{ key }}</key>
      <string>{{ value }}</string>
      {% endfor %}
    </dict>
  </dict>
</plist>
